.flex-container {
    margin-bottom: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .side {
        width: 40%;
        height: 400px;
        justify-content: center;
        margin: 3%;
        .section-coontainer {
            width: 90%;
            margin: auto;
            margin-top: 5rem;
            margin-bottom: 5rem;
            .header-container {
                font-size: xx-large;
                text-align: left;
                margin-bottom: 10%;
            }
            .body-container {
                font-size: large;
                text-align: left;
                margin-bottom: 10%;
            }
            .footer-container {}
        }
    }
}